<div class="row">
  <div class="col-sm-12 col-md-10 col-lg-12 mx-auto">
    <div class="chk-block">
      <div class="chk-block-content">
        <div class="table-responsive">
          <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
              <th>Prénom</th>
              <th>Nom</th>
              <th>Nom d'utilisateur</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users">
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.email}}</td>
              <td>

                <a  href="javascript:;"><i (click)="selectUser(user)" class="fa fa-cog fa-lg base-dark fa-spin" title="Options" aria-hidden="true"></i></a>

                <a href="javascript:;" (click)="doDelete(user)" style="margin-left: 10px" class="ml-2"><i class="fa fa-times fa-lg text-danger" title="Supprimer l'utilisateur {{user.username}}" aria-hidden="true"></i></a>

              </td>

            </tr>

            </tbody>

          </table>
          <!--<button (click)="addnew()" class="btn btn-primary btn-pill mr-2 mb-3"><md-icon>add_circle</md-icon></button>-->
        <!--</div>-->
      </div>
      <!--<div [style]="centered" class="chk-block-content" *ngIf="canView">-->

        <button type="button" class="btn btn-primary" (click)="addNew()">Nouveau utilisateur</button>
        <br/>
      <app-single-user (refresh)="ngOnInit()" [user]="selectedUser"  *ngIf="visible"></app-single-user>
      <!--</div>-->
    </div>
  </div>
</div>
